/*
Theme Name: Listify - Child Theme 
Theme URI: http://astoundify.com/themes/listify
Author: Astoundify
Author URI: http://astoundify.com
Description: Your beautiful handcrafted directory.
Version: 1.0.0
License: GNU General Public License
License URI: license.txt
Text Domain: listify-foursquare
Domain Path: /languages/
Tags: white, two-columns, one-column, right-sidebar, left-sidebar, responsive-layout, custom-background, custom-header, theme-options, full-width-template, featured-images, flexible-header, custom-menu, translation-ready
Template: listify
*/

/* Change the word the color red to the color of your choice */
ul.sub-menu > li > a {
  color: red !important;
}

@media (min-width: 992px) {
  .home-widget {
      margin: 2em 0;
  }
}


/*.listing-cover, .entry-cover, .homepage-cover.page-cover, .list-cover {
    padding:50px !important;
}*/

